@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { padding: 0; margin: 0; }
ol, ul, dl { list-style: none; }
body {font: 12px/1.5 "Lucida Grande", Helvetica, Arial, Verdana, "Microsoft YaHei", sans-serif; color: #555; background:#f1f1f1; min-width:320px}
img { border: none }
table { border-collapse: collapse; border-spacing: 0 }
input, textarea, select { font: 12px "Microsoft YaHei", simsun, tahoma; outline: none }
a { color: #555; text-decoration: none; outline:none}
a:hover { text-decoration:underline }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: 100% }
.clearfix:after { visibility: hidden; display: block; content: ""; clear: both; font-size: 0; height: 0; }
.clearfix { zoom: 1; }
.clear { clear: both }
.hidden { line-height: 99999px; overflow: hidden }
.relative { position: relative }
.fl { float: left }
.fr { float: right }

/*公用*/

.tool-box{background:#323436; height:70px; position:fixed; left:0; top:0; width:100%; box-shadow:0 0 5px rgba(0,0,0,0.5); z-index:10}
.tool{ position:relative; width:1200px; margin:0 auto; max-width:100%; }
.logo{ background:url(../images/logo.png) no-repeat; width:150px; height:50px; float:left; margin:10px 0 0 10px}
.logo a{ display:block; height:50px}
.nav{ float:left; height:70px; line-height:70px; color:#fff; padding-left:20px}
.nav a{ color:#8c8c8c; float:left; padding:0 20px; font-size:14px;-webkit-transition:all 0.2s linear;transition:all 0.2s linear;}
.nav a:hover,.nav a.cur{ background:#454648; color:#fff; text-decoration:none}
.btn-order{ display:inline-block; margin:5px 5px 0 0 ; background:#3e9ef6; color:#fff; font-size:16px; padding:6px 10px; border-radius:6px}
.btn-order:hover,.btn-order:active{ text-decoration:none; background:#0b7be1}
.tool .btn-order{ position:absolute; right:5px; top:18px; margin:0}
.header{ padding-top:70px}
.intro{ margin:0 auto; text-align:center; background:url(../images/banner.jpg) center top no-repeat; margin-bottom:16px; height:150px; color:#729cb7; padding-top:50px}
.intro h3{ color:#00ffea; font-size:26px; padding:5px 10px;  font-weight:bold}
.intro p{  font-size:16px; padding:0 10px}
.tool h2{ float:left; color:rgba(255,255,255,0.9); font-size:24px; height:50px; line-height:50px; margin-top:13px; margin-left:10px; border-left:2px solid #2b2b2b; overflow:hidden}
.tool h2 span{ display:block; height:50px;border-left:1px solid #4e4d4d; padding-left:10px}

.user{ padding:5px; text-align:right; font-size:14px; display:none}
.user a{ padding:0 5px}
.user-info a{ color:#3e9ef6}

#backTop{ background:url(../images/back-top.png) no-repeat center bottom; width:35px; height:45px; line-height:99999px; overflow:hidden; display:block; position:fixed; right:5px; bottom:5px; opacity:0.8}

.red{ color:#930}

/*底部*/
.g-ft { padding: 30px 0 10px; border-top: 2px solid #dbdbdb;  }
.g-wrapper{ text-align:center}
.g-ft a{ color:#3e9ef6;}

/*分页*/
.pagination {  margin: 20px auto;  text-align:center }
.pagination>li { display: inline; }
.pagination>li>a, .pagination>li>span { position: relative; display:inline-block; padding: 6px 12px; line-height: 1.42857143; text-decoration: none; color: #337ab7; background-color: #fff; border: 1px solid #ddd; font-size:12px }
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover { z-index: 2; color: #23527c; background-color: #eee; border-color: #ddd }
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover { z-index: 2; color: #fff; background-color: #337ab7; border-color: #337ab7; cursor: default }
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover { color: #777; background-color: #fff; border-color: #ddd; cursor: not-allowed }

/*分类导航*/
.kind{ padding:10px; font-size:14px; width:1200px; max-width:100%; margin:0 auto; -webkit-box-sizing:border-box;box-sizing:border-box; padding-left:50px}
.kind dt{ width:50px; padding-top:3px; float:left; margin-left:-50px; text-align:right; font-weight:bold}
.kind dd{ padding-bottom:10px}
.kind dd a{ padding:3px 10px;-webkit-transition:all 0.2s linear;transition:all 0.2s linear;border-radius:6px; display:inline-block; margin-bottom:2px }
.kind dd a:hover,.kind dd a.on{text-decoration:none;background:#3e9ef6; color:#fff;}
.kind dd a:hover{background:#0b7be1; }


/*demolist*/
.demo-list{  width:1200px; max-width:100%; margin:0 auto; padding-bottom:50px}
.demo-list li{ height:auto;  background:#fafafa; border-bottom:2px solid #ddd; margin-top:25px; position:relative; border-radius: 5px; float:left; width:23%; margin: 10px 1%; padding:10px; -webkit-box-sizing:border-box; box-sizing:border-box}
.demo-list li:hover{ box-shadow:0 0 5px rgba(0,0,0,0.3)}
.demo-list li,.demo-list li a{ -webkit-transition:all 0.2s linear;transition:all 0.2s linear;}
.demo-list li a:hover{ color:#3e9ef6; text-decoration:none}

.demo-title{ height:44px; line-height:44px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;font-size: 14px;}
.demo-image{ width:100%; text-align:center; overflow:hidden; position:relative;}
.demo-image img{ display:block; width:100%} 
.demo-tool{ width:100%; height:30px; line-height:30px; text-align:right; padding:0 20px; -webkit-box-sizing:border-box;box-sizing:border-box;}
.demo-tool a{ background:url(../images/heart.png) no-repeat left center; display:inline-block; padding-left:28px; font-size:14px} 
.demo-ti{ position:relative; width:auto; height:auto; overflow:hidden; cursor:pointer;}
.demo-tag{ padding-left:40px; color:#999}
.demo-tag dt{ width:40px; float:left; margin-left:-40px; font-weight:bold}
.demo-tag dd span{ padding:0 2px}

/*二级页*/
.sub .intro{ display:none}
.main{ width:1000px; max-width:100%; margin:0 auto; padding:10px 10px 80px; -webkit-box-sizing:border-box; box-sizing:border-box; font-size:14px}
.main img{ display:block; width:100%; margin:0 auto}
.h5-title{ font-size:24px; border-bottom:1px solid #e7e7eb; margin-bottom:16px; padding:8px 0}
.h5-content{ padding:20px 0 40px}
.h5-content p{ padding:5px 0}
.h5-content ol,.h5-content ul{ list-style:decimal; padding-left:1em}
.h5-content ol li,.h5-content ul li{ text-indent:0.3em; padding-bottom:8px}
.h5-ewm{ padding-bottom:16px}
#ewm{ width:200px}
.h5-view strong{ display:block; font-size:16px; padding-bottom:8px}
.tool-bot{ height:50px; background:#fff; position:fixed; left:0; bottom:0; width:100%; text-align:center}
.tool-bot a{ display:inline-block; margin:5px 5px 0 0 ; background:#3e9ef6; color:#fff; font-size:16px; padding:6px 10px; border-radius:6px}
.tool-bot a:hover,.tool-bot a:active{ text-decoration:none; background:#0b7be1}

.h5-show{ width:350px; height:634px; background:url(../images/phone.png) no-repeat; padding-top:46px}
.h5-show iframe{ width:350px; height:583px}

/*弹窗*/
#popOrder{ position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,0.5); z-index:10; display:none}
.pop-cont{ background:#fff; border-radius:10px; box-shadow: 0 5px 5px rgba(0,0,0,0.7); position:absolute; left:50%; top:50%; -webkit-transform:translate(-50%,-50%);width:480px; max-width:100%;-webkit-box-sizing:border-box; box-sizing:border-box; padding:30px; font-size:14px}
.pop-close{ background:url(../images/close.png) no-repeat right 0; width:40px; height:40px; position:absolute; right:0; top:-43px; opacity:0.8; border-radius:4px}
.pop-close:hover{ opacity:1}
.pop-cont h4{ text-align:center; font-size:18px; font-weight:bold;color:#ffa200; margin-bottom:8px}
.pop-cont p{ padding:3px}

@media screen and (max-width:480px){

}

@media screen and (max-width:1002px){
.demo-list li{ width:31%}	
}
@media screen and (max-width:768px){
.demo-list li{ width:47%}	
}
@media screen and (max-width:460px){
.demo-list li{ width:97%}	
.logo{ -webkit-transform:scale(0.8);transform:scale(0.8);}
.intro h3{ font-size:20px}	
.intro p{ font-size:14px}	
.tool .btn-order{ -webkit-transform:scale(0.8)}
.h5-title{ font-size:18px}
}
@media screen and (max-width:360px){
.logo{ display:none}
.tool h2{ height:30px; line-height:30px; border:0}
.tool h2 span{ font-size:20px; border:0}
.tool,.nav,.nav a{ height:50px; line-height:50px;}
.header{ padding-top:50px}
.nav{ padding-left:10px}
.nav a{ padding:0 8px}
.tool-box{ height:50px}
.tool .btn-order{ -webkit-transform:scale(0.6); padding:0 16px; top:0;  -webkit-transform-origin: right center}
}

